@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:ital,wght@0,200;0,400;1,200&display=swap');
/* font-family: 'Caveat', cursive;
font-family: 'Poppins', sans-serif; */

/* Remove default style */
* {
    padding: 0;
    margin: 0;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #ffffff;
}

h1,
h3 {
    font-family: 'Caveat', cursive;
}

p,
h2,
h4 {
    font-family: 'Poppins', sans-serif;
    color: #F6FFF8;
}

h4 {
    font-size: 20px;
    padding-bottom: 10px;
}

/* Header Content */

#header {
    height: 160px;
    background-color: #4E6A5E;
    padding-top: 20px;
}

#header>h1,
#header>h2 {
    text-align: center;
    letter-spacing: 1px;
    color: #F6FFF8;
}

#header>h1 {
    font-size: 200%;
}

#header>h2 {
    font-size: 90%;
    padding: 20px;
}

/* Main Content */
main {
    /* Make main content take up any surplus space to push footer down */
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCE3DE;
}

#quiz {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-area {
    height: 500px;
    width: 500px;
    justify-content: center;
    background-color: #A4C3B2;
    display: flex;
    column-count: 1;
    flex-wrap: wrap;
    box-shadow: 0 0 10px 2px;
    color: #354F52;
}

#message-type {
    height: 300px;
    width: 100%;
    background-color: #4E6A5E;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.action-btn {
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    background-color: #F6FFF8;
    color: #4E6A5E;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s;
    border: 2px solid #4E6A5E;
    letter-spacing: 1px;
}

.action-btn:hover {
    background-color: #4E6A5E;
    color: #F6FFF8;
}

/* Style for the form */
#sign-up-page {
    padding-bottom: 20px;
}

#sign-up {
    margin-top: 150px;
}

label {
    display: block;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: #F6FFF8;
}

input {
    height: 30px;
    width: 200px;
}

.error {
    display: block;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: black;
    height: 14px;
}

#lets-go-btn {
    display: block;
    margin-top: 80px;
}

/* Style for Quiz page */
.btn {
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    background-color: #F6FFF8;
    color: #4E6A5E;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s;
    border: 2px solid #CCE3DE;
    letter-spacing: 1px;
    margin: 10px;
}

.btn:hover:not([disabled]) {
    background-color: #CCE3DE;
}

.btn:disabled {
    cursor: no-drop;
}

.btn-grid {
    margin-bottom: 55px;
}

#question {
    color: #354F52;
    margin-bottom: 5px;
    font-size: 20px;
}

.correct {
    background-color: #A4C3B2;
}

.incorrect {
    background-color: #D99898;
}

#restart-button {
    font-size: 20px;
}

#score {
    color: #F6FFF8;
}

/* Hide pages */
.hide {
    display: none;
}

/* Footer Content */
#footer {
    height: 350px;
    background-color: #4E6A5E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

#footer>h3 {
    text-align: center;
    font-size: 140%;
    padding: 10px;
    color: #F6FFF8;
}

#footer>img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 20px;
}

/* Responsivness for mobile (425px) and down */
@media screen and (max-width: 425px) {
    #header {
        height: 100%;
    }
    
    .quiz-area {
        padding-top: 20px;
        width: 100%;
    }
   
    #question {
        padding-bottom: 10px;
    }

    #answer-btns {
        padding-bottom: 15px;
    }

    .btn {
        width: 240px;
    }
}

/* Responsivness for tablet (768px) and up */
@media screen and (min-width: 768px) {

    /* Header Content */
    #header {
        padding-top: 30px;
        height: 135px;
    }

    #header>h1 {
        font-size: 300%;
    }

    #header>h2 {
        font-size: 90%;
    }

    /* Main Content */

    /* Footer Content */
    #footer>h3 {
        font-size: 200%;
    }
}